.category {
  background-color: inherit;
  border-right: none;
  cursor: default;
  border-bottom: none;
}

.menuItem {
  height: 38px;
  margin-left: 60px;
}

.top {
  /* Rectangle 3: */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.37);
  height: 52px;
}

.galleryPart {
  margin-top: 20px;
  display: inline-block;
}



